body {
    background-color:gray;
    text-align:center;
}

h1 {
    color: blue;
    font-size: 2em;
}

p {
    color: red;
}

#location {
    border: solid yellow 2px;
}

.container {
    padding: 20px;
}
