body {
    background-color: white;
    text-align:center;
}

header1 {
    color:purple;
    font-size: 2em;

}

p {
    color: black;
}

a {
    color: purple;
}


#temp_div{
    font-family: 'Changa One', cursive;
    font-size: 5em;

}
.jumbotron {

    min-height: 10%;
    padding: 10px 0 10px 0;
}

#contact_info {
    padding:10px;
}

#trigger {
    margin: 1em;
}

.invisible {
    display: none;
  }